:root {
  --shuddhi-color: #0099ff;
}
body {
  margin-bottom: 150px;
}

h5 {
  text-align: center;
}
#main {
  margin: 100px 10px 50px 10px;
}
.lang-box {
  text-align: center;
  text-decoration: none;
}
.lang-box a {
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background: var(--shuddhi-color);
  padding: 10px;
  margin: 10px;
  border: solid 2px white;
  border-radius: 5px;
}
.lang-box a:hover {
  cursor: pointer;
  border-color: black;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 5px 30px 5px;
}

#main-logo {
  width: 20%;
  min-width: 250px;
}

.supportbox {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: static;
  text-align: center;
  font-size: 1.2em;
  max-width: 300px;
  height: auto;
  margin: 20px auto;
}

#supportbox > a {
  margin: 10px;
}

#footer {
  position: absolute;
  text-align: center;
  font-size: 1em;
  bottom: -10px;
  left: 50%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -10%);
  -moz-transform: translate(-50%, -10%);
  -ms-transform: translate(-50%, -10%);
  -o-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
}

.menu-links {
  position: absolute;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -300%);
}

.menu-links a {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.menu-links a:hover {
  color: black;
  text-decoration: none;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: var(--shuddhi-color);
  border-radius: 50%;
  display: inline-block;
}

/** MODAL STARTS HERE **/

.bg-modal {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  height: 70vh;
  width: 60vw;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

.qr-code {
  max-height: 70%;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}
close:hover {
  color: #666;
}

.notification {
  padding: 5px 10px;
  background-color: rgba(10, 92, 10, 0.5);
  border-radius: 3px;
  color: white;
}

@media only screen and (max-height: 850px) {
  body {
    margin-bottom: 10px;
  }

  #footer {
    margin-top: 50px;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    bottom: 10px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    margin-bottom: 10px;
  }
  .supportbox {
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  #footer {
    margin-top: 50px;
    position: static;
    font-size: 0.8em;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    bottom: 10px;
  }

  .menu-links {
    position: static;
    text-align: center;
    transform: none;
    margin: 50px 10px 20px 10px;
  }
  #main {
    margin: 10px;
  }
  .modal-contents {
    width: 90vw;
  }
  .qr-code {
    max-height: 60%;
  }
}
