h5 {
    text-align: center;
}
#main {
    margin: 100px 10px;

}
.lang-box {
    text-align: center;
    text-decoration: none;
}
.lang-box a {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none; 
    color: #ffffff;
    background: #0099ff;
    padding: 10px;
    margin: 10px;
    border: solid 2px white;
    border-radius: 5px;
}
.lang-box a:hover {
    cursor: pointer;
    border-color: black;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 5px 30px 5px;
}

#footer {
    text-align: center;
    font-size: 1em;
    bottom: 10px;
}

.menu-links {
    position: absolute;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -300%);
}

.menu-links a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.menu-links a:hover {
    color: black;
    text-decoration: none;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #0099ff;
  border-radius: 50%;
  display: inline-block;
}